<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <%= require('html-loader!./assets/html/head.html') %>
  <style>
    .tableCell {
      padding: 20px 12px 20px 12px !important;
      font-size: 1.25rem;
    }
  </style>
</head>

<body class="theme-muscari">

  <%= require('html-loader!./assets/html/navbar.html') %>

	<section class="vc_rows wpb_row vc_row-fluid section-bg-muscari banner-tokensale d-flex align-items-center mobile-center tab-center vc_row-o-equal-height vc_row-o-content-middle vc_row-flex banner banner-full d-flex align-items-center">
		<div class="section-bg-angle" >
			<div class="overlay-bubble">
				<div class="overlay-bubble-1"></div>
				<div class="overlay-bubble-2"></div>
				<div class="overlay-bubble-3"></div>
				<div class="overlay-bubble-4"></div>
				<div class="overlay-bubble-5"></div>
				<div class="overlay-bubble-6"></div>
			</div>
		</div>
		<div class="container">
			<div class="banner-content"></div>
		</div>
		<div class="clearfix"></div>
	</section>

    <div class="page-container slate-theme" id="account">

      <section class="hero">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title font-primary-title">
              Mining Account List
            </h1>
            <h2 class="subtitle">
              Token Mining Pool
            </h2>
            <div class="whitespace-sm"></div>
          </div>
      </section>

      <div id="accountlist" class="box  background-secondary" style="overflow-x:auto; min-height:480px;">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Filter</span><!--changeFilter(event.target.value)-->
          </div>
          <input type="text" class="form-control" placeholder="Address" v-model="filter" aria-label="Address" aria-describedby="basic-addon1">
        </div>
        <div class='subtitle'>Miners</div>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th scope="col">Miner #</th>
              <th scope="col">Eth Address</th>
              <th scope="col">Hash Rate</th>
              <th scope="col">Share %</th>
              <th scope="col">Token Balance</th>
              <th scope="col">Tokens Earned</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in filteredList">
              <th class="tableCell" scope="row">{{ index + 1 }}</td>
              <td class="tableCell">
                <a v-bind:href='item.profileURL'>
                  <span>{{ item.minerAddress }}</span>
                </a>
              </td>
              <td class="tableCell">{{ item.minerData.hashRateFormatted }}</td>
              <td class="tableCell">{{ item.minerData.sharesPercent}}</td>
              <td class="tableCell">{{ item.minerData.tokenBalanceFormatted }}</td>
              <td class="tableCell">{{ item.minerData.tokenRewardsFormatted }}</td>
            </tr>
          </tbody>
        </table>
        <div>
        Loading... Please wait a moment... 
        </div>

      </div>


      </div>


      <%= require('html-loader!./assets/html/footer.html') %>


</body>

</html>