<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">

  <%= require('html-loader!./assets/html/head.html') %>


</head>

<body class="theme-muscari">
	<%= require('html-loader!./assets/html/navbar.html') %>
	<section class="vc_rows wpb_row vc_row-fluid section-bg-muscari banner-tokensale d-flex align-items-center mobile-center tab-center vc_row-o-equal-height vc_row-o-content-middle vc_row-flex banner banner-full d-flex align-items-center">
		<div class="section-bg-angle" >
			<div class="overlay-bubble">
				<div class="overlay-bubble-1"></div>
				<div class="overlay-bubble-2"></div>
				<div class="overlay-bubble-3"></div>
				<div class="overlay-bubble-4"></div>
				<div class="overlay-bubble-5"></div>
				<div class="overlay-bubble-6"></div>
			</div>
		</div>
		<div class="container">
			<div class="banner-content"></div>
		</div>
		<div class="clearfix"></div>
	</section>
	
	 <section class="hero circuit-overlay">
        <div class="hero-body">
          <div class="container has-text-centered" id='jumbotron'>
			<div class="columns">
				<div class="column">
				<h1 style="color:red">Please, do not mine directly to the exchange wallet address! Your tokens will be lost irrevocably!</h1><br><br>
				
					<a v-bind:href='pool.poolData.etherscanMintingURL'>
						<p>Minting: {{pool.poolData.mintingAddress}}</p>
					</a>

					<a v-bind:href='pool.poolData.etherscanPaymentURL'>
						<p>Payments: {{pool.poolData.paymentAddress}}</p>
					</a>
					<p>Connect to http://pool.sedocoin.org:8080</p>
				</div>
				<div class="column   is-half-desktop " style=" margin: 0 auto;">
					<canvas id="hashgraph"></canvas>
				</div>
			</div>
            	<!--<div class="whitespace-sm"></div>-->
			</div></div></section>
  
		<div class="page-container theme-muscari" id="home">
			<div class="tab-content">
				<div id="solutiontxlist" class="box background-secondary transaction-list tab-pane active box background-secondary" style="overflow-x:auto; min-height:480px;">
					<div class='subtitle'>Recent Solutions</div>
					<table class='table zeroauto'>
						<thead>
							<tr>
								<td> Block </td>
								<td> TxHash </td>
								<td> Status </td>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, index) in transactions.tx_list" v-bind:class="item.htmlClass">
								<td> {{ item.block }} </td>
								<td>
									<a v-bind:href='item.txURL'>
										{{ item.txHash }}
									</a>
								</td>
								<td class="tx-status-cell"> {{ item.formattedStatus}} </td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="transfertxlist" class="box background-secondary transaction-list tab-pane active box background-secondary" style="overflow-x:auto; min-height:480px;">
					<div class='subtitle'>Recent Transfers</div>
					<table class='table zeroauto'>
						<thead>
							<tr>
								<td> Block </td>
								<td> TxHash </td>
								<td> Status </td>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, index) in transactions.tx_list" v-bind:class="item.htmlClass">
								<td> {{ item.block }} </td>
									<td>
										<a v-bind:href='item.txURL'>
											{{ item.txHash }}
										</a>
									</td>	
								<td class="tx-status-cell"> {{ item.formattedStatus}} </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


    <%= require('html-loader!./assets/html/footer.html') %>


</body>

</html>
